

.Pages-{

    top:0;
    height: 500px;
    width: 540px;
    border: 1px solid rgba(0,0,0,.1);
    padding: 20px 28.77px; 
    transform:translate(493px,-662px); 
    text-align: center;
    overflow: scroll;
   
    
  }
  .Pages- h1{
  
    margin-top: 5%;
    font-style: italic;
    color: blue;
    text-align: center;
    margin-bottom: 20px;
   
   
  }
  #welcome{
    
    
    height: 10%;
    width: 20%;
    /* margin-left: 42%; */
    background-color:white ;
      border-radius: 50px;
      border:2px solid skyblue;
      color:  rgb(35, 154, 233);
      font-weight: bolder;
      cursor: pointer;
  
  }
  #welcome:hover{
    
    
    height: 10%;
    width: 20%;
    margin-left: 42%;
    background-color:rgb(35, 154, 233) ;
      border-radius: 50px;
      border:2px solid skyblue;
      color:  white;
      font-weight: bolder;
      cursor: pointer;
  
  }
  